#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Icon[C]=/usr/local/lib/gbi/install.png
Name[C]=DesktopBSD Installer
Categories=GNOME;GTK;System;
Exec=gbi
Comment[C]=DesktopBSD Installer
Name=DesktopBSD Installer
Comment=DesktopBSD Installer
Icon=/usr/local/lib/gbi/install.png
